.Tilt {
  background: linear-gradient(89deg, rgba(255, 255, 255, 0.5) 0%, rgb(164, 99, 242) 100%);
}

.logo-container {
  position: relative;
}

.logo-crescent {
  position: absolute;
  transform: rotate(120deg);
  right: 25px;
  top: 25px;
}

.s {
  position: absolute;
  top: 55px;
  font-size: 2em;
}