body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif, monospace;
  background: linear-gradient(89deg, rgba(248, 145, 48, 0.698) 0%, rgb(160, 215, 241) 100%);
}

button {
  cursor: pointer;
}